:root {
  --black: #000b0b;
  --white: #ffffff;

  --light-black: #2a2d34;

  --blue: #3185fc;

  --grey: #57585b;
  --light-grey: #f4f9ff;

  // --aoki: #96dbc6;
  --aoki: #a8e6cf;
  --light-aoki: #93f1c5;
  --dark-aoki: #497e65;
  --aoki-main: #ceffef;
}
