<div class="how-it-works">
  <div class="how-it-works__video">
    <div class="keen-slider custom" #sliderImgRef>
      <!-- <video
        *ngFor="let howItWork of howItWorksVideoArray; index as index"
        [class]="'keen-slider__slide img number-slide' + index"
        [src]="howItWork"
        [autoplay]="index === 0"
      ></video> -->
      <vg-player (onPlayerReady)="onPlayerReady($event)" class="player">
        <video
          *ngFor="let howItWork of howItWorksVideoArray; index as index"
          #media
          [id]="'video' + index"
          [class]="'keen-slider__slide player number-slide' + index"
          preload="auto"
          [controls]="false"
        >
          <source [src]="howItWork" type="video/mp4" />
        </video>
      </vg-player>
    </div>
  </div>

  <div class="how-it-works__list">
    <ng-container *transloco="let translate">
      <app-text
        class="title"
        [text]="translate('eRevisionModule.howItWork.title')"
        [color]="ColorMap.black"
        [textSize]="TextSizes.bigText"
      ></app-text>

      <div class="container">
        <ng-container
          *ngFor="
            let howItWorksImg of howItWorksVideoArray;
            last as last;
            index as i
          "
        >
          <div class="item">
            <div class="circle" [class.active]="currentSlide >= i"></div>
            <div class="description">
              <app-text
                [text]="translate('eRevisionModule.howItWork.step' + (i + 1))"
                [textSize]="TextSizes.parapgraph"
                [color]="
                  currentSlide >= i ? ColorMap.aoki : ColorMap.lightBlack
                "
                class="target"
                (click)="slider?.moveToIdx(i)"
              ></app-text>
              <app-text
                @fadeInOut
                *ngIf="currentSlide === i"
                [text]="
                  translate('eRevisionModule.howItWork.subtitle' + (i + 1))
                "
                [textSize]="TextSizes.smallText"
                [color]="ColorMap.grey"
                class="description__title"
              ></app-text>
              <div class="separator" *ngIf="!last"></div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<div class="background"></div>
